/*default version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Regular.otf')
        format('opentype');
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Semibold.otf')
        format('opentype');
    font-weight: 600;
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Extrabold.otf')
        format('opentype');
    font-weight: 800;
}

.text-muted{
    color: #cacaca;
}

body {
    font-family: 'europa', sans-serif;
    font-weight: 600;
    background-color: #2F3136;
    color: #fff;
    padding-top: 70px;
    height: auto !important;
}

@media (min-width: 1012px) {
    .container {
        width: 1012px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
}

.page-title .header-title {
    font-weight: 500;
}

.page-title h3 {
    margin-top: 0px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

hr{
    margin-bottom: 20px;
    border-top: 1px solid #4a4949 !important;
}

#teamggfooter{
    margin-top:10px;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #4a4949;
}



.btn:active, .btn:focus, .btn-lrg:active, .btn-lrg:focus {
    outline:none !important;
}

.btn-purple {
    background-color: #9148d3;
    outline: none;
    border-color: #9148d3;
    color: #fff;
}

.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
    background-color: #753aab;
    outline: none;
    border-color: #753aab;
    color: #fff;
}

.btn-success {
    background-color: #2daadf !important;
    outline: none;
    border-color: #2daadf !important;
    color: #fff;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #2692bf !important;
    outline: none;
    border-color: #2692bf !important;
    color: #fff;
}
