/*default version*/
@font-face {
    font-family: 'proximanova';
    src:
        local('Proxima Nova Regular'),
        url('../fonts/ProximaNova-Regular.otf')
        format('opentype');
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        local('Proxima Nova Semibold'),
        url('../fonts/ProximaNova-Semibold.otf')
        format('opentype');
    font-weight: 600;
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        local('Proxima Nova Extrabold'),
        url('../fonts/ProximaNova-Extrabold.otf')
        format('opentype');
    font-weight: 800;
}

body {
    font-family: 'proximanova';
    font-weight: 600;
}

@media (min-width: 992px) {
    .container {
        width: 870px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-purple {
    background-color: #433381;
    color: #fff;
}
.btn-purple:hover {
    background-color: #414293;
    color: #fff;
}