/*default version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Regular.otf')
        format('opentype');
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Semibold.otf')
        format('opentype');
    font-weight: 600;
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Extrabold.otf')
        format('opentype');
    font-weight: 800;
}

.text-muted {
    color: #cacaca;
}

body {
    font-family: 'europa', sans-serif;
    font-weight: 600;
    background-color: #2F3136;
    color: #fff;
    padding-top: 70px;
    height: auto !important;
}

@media (min-width: 1012px) {
    .container {
        width: 1012px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
}

.page-title .header-title {
    font-weight: 500;
}

.page-title h3 {
    margin-top: 0px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

hr {
    margin-bottom: 20px;
    border-top: 1px solid #4a4949 !important;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #4a4949;
}



.btn:active, .btn:focus, .btn-lrg:active, .btn-lrg:focus {
    outline:none !important;
}

.btn-purple {
    background-color: #9148d3;
    outline: none;
    border-color: #9148d3;
    color: #fff;
}

.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
    background-color: #753aab;
    outline: none;
    border-color: #753aab;
    color: #fff;
}

.btn-success {
    background-color: #2daadf !important;
    outline: none;
    border-color: #2daadf !important;
    color: #fff;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #2692bf !important;
    outline: none;
    border-color: #2692bf !important;
    color: #fff;
}


/* ********************* */
/* ****** FOOTER ******* */
/* ********************* */


footer {
    background-color: #1A1B1D;
    padding:25px;
}

#left-footer {
    /*border-right: 1px solid white;*/
    margin-right:0px;
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width : 1000px) {
    .left-footer {

    }

    .center-footer {
        text-align: left !important;
        -webkit-padding-start: 40px !important;
    }

    .right-footer {
        text-align: left !important;
    }
}

footer img {
    height:35px;
    width: 35px;
    margin: 8px;
}

footer ul {
    list-style: none;
    margin-top:20px;
}

.footer-nav hr {
    margin: 0px;
    width:50%;
    text-align: center;
}

.footer-nav a {
    color: rgba(255, 255, 255, .7);
    transition: all .3s ease;
    font-size:15px;
    font-weight:300;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.footer-nav a:hover, .footer-nav a:focus {
    color: #eee;
    transition: all .3s ease;
}

.footer-nav-head {
    color: #ffffff;
    font-size:1.4rem;
    font-weight:bold;
    letter-spacing: .15em;
}

footer .col-md-3{
    padding-right: 0px;
    padding-left: 0px;
}
