/*default version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Regular.otf')
        format('opentype');
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Semibold.otf')
        format('opentype');
    font-weight: 600;
}
/*semibold version*/
@font-face {
    font-family: 'proximanova';
    src:
        url('../fonts/ProximaNova-Extrabold.otf')
        format('opentype');
    font-weight: 800;
}

.text-muted{
    color: #cacaca;
}

body {
    font-family: 'proximanova';
    font-weight: 600;
    background-color: #2F3136;
    color: #fff;
}

@media (min-width: 1012px) {
    .container {
        width: 1012px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn-purple {
    background-color: #433381;
    color: #fff;
}
.btn-purple:hover {
    background-color: #414293;
    color: #fff;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
}

.page-title .header-title {
    font-weight: 500;
}

.page-title h3 {
    margin-top: 0px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.footerhr{
    margin-bottom: 20px;
}

#teamggfooter{
    margin-top:10px;
}

a.green {
    color: #72c572;
}
