.jumbotron.header {
    background-image: linear-gradient( rgba(123,123,123, 0.4), rgba(0,0,0, 0.7) ), url(https://static.trueachievements.com/customimages/016732.jpg);
    background-position: center left;
    height: 300px;
    color: #fff;
    text-align: center;
    /*font-family: 'roboto', sans-serif;*/
    background-size: cover;
}

.header h2{
    font-size: 80px;
    opacity: .9;
}

.header h4{
    font-size: 20px;
    opacity: .9;
    padding-left: 5px;
}

.branding-1 {
    color:white;padding:20px; background-color:#433381;
}

.branding-1 h2 {
    color:#72c572;
}

.branding-1 p {
    font-size:18px;
}

/* image section */
.branding-2 img {
    height:130px;
    width:250px;
    margin:10px 0px;
}

.slick-list,.branding-1,.slide-slide {
    outline: none !important;
}