.navbar {
    margin-bottom: 0px;
}

.navbar .navbar-right a {
    color: #fff;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.navbar .navbar-right a:hover {
    color: #7094E7;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #2F3136;
    
}

.navbar-brand {
    font-size: 28px;
    color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
}

.icon-bar {
    background-color: #fff;
}
