.navbar .navbar-right a {
    color: #000;
    -webkit-transition: all 0.1s;
    transition: all 0.1s
}

.navbar .navbar-right a:hover {
    color: #00b159;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fff;
}

.navbar-brand {
    font-size: 28px;
    color: #000;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #000;
}

.icon-bar {
    background-color: #000;
}