.navbar {
    margin: 0;
}

.navbar-brand{
    font-weight: bolder;
}

input{
    margin-top: 12px;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}