

.main-page {
    padding: 3.5em;
    margin-top: 50px;
}

body {
    padding-top: 50px;
}

.page-title {
    padding-bottom: 20px;
    padding-top: 0vh;
}


.md-primary span {
    padding: 10px;
}

.background {
    background: rgb(47, 49, 54) url(https://i.imgur.com/rMB613Q.png) center;

    color: #fff;
    text-align: center;
    background-size: cover;
    min-height: 100% !important;
    height: 100vh;
    overflow: auto;
}

footer {
    margin-top: 0px !important;
}
