

.jumbotron.public-connect {
    background-color: #433381;
    color: #fff;
}
.avatar{
    display: inline-block;
    vertical-align:top;
}

.personal{
    display:inline-block;
    margin-left:20px;
    vertical-align:top;
}

.rank {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #2A2E34;
}

.header{
    height:75px;
    display:inline-block;
}

.header h2,h3,h4,h1{
    margin: 0;
    
}

.stat {
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
}

p {
    margin-top: 0;
}

.firsthr{
    margin-bottom: 10px;
}
