 <div class="navbar navbar-deafult navbar-fixed-top" >
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">
                <img style="height: auto; width: 25px; float: left; margin-right: 10px;" src="img/Warzone.svg">
                Warzone
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="/play">Play</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <!--
                <li><a href="/rules">Rules</a></li>
                <li><a href="/privacy">Privacy</a></li>
                -->
                <li><a href="http://warzone.store/">Store</a></li>
            </ul>
        </div> <!-- .navbar-collpase -->
    </div><!-- /.container-fluid -->
</div><!-- /.navbar -->
