<div class="container">
    <div class="header">

        <div class="container row">
            <div class="avatar">
                <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
            </div>
            <div class="personal">
                <h2 style="margin:0;">{{matchData.mapLoaded.gametype}}</h2>
                <p style="margin:0;" class="text-muted">{{matchData.mapLoaded.name}}</p>
            </div>

            <div class="pull-right text-center">
                <h1>{{matchData.timeElapsed}}</h1>
                <h3 class="text-muted" style="text-transform: uppercase">Time</h3>
            </div>
        </div>

    </div>

    <hr>
    <div ng-if="loading" id="loading" style="margin-left:46%; margin-bottom: 30px;">
            <md-progress-circular class="spinner" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div class="container">
    <div class="row" style="min-height: 200px;">
        <div class="col-md-6" ng-repeat="team in matchData.teamsLoaded">
            <h3 style="">{{team.name}} <span class="text-muted">{{team.kills}} / {{team.deaths}}</span>
                <span ng-show="team.won" class="label label-success label-result pull-right">Victory</span>
                <span ng-show="!team.won" class="label label-danger label-result pull-right">Defeat</span></h3>
            <div class="gamestats">
                <table class="table game-lose">
                    <thead>
                        <tr>
                            <th colspan="3">Player</th>
                            <th class="trright">Kills</th>
                            <th class="trright">Death</th>
                            <th class="trright">KDR</th>
                        </tr>
                    </thead>
                    <tbody ng-class="team.won ? 'table-victory' : 'table-defeat'" class="player-stats-table">
                        <tr ng-repeat="playerStat in team.members">

                            <td colspan="1" class="player-icon" style="width: 32px;">
                                <img style="width: 32px;" src="https://crafatar.com/renders/head/{{playerStat.uuid}}?size=32&overlay" alt="avatar">
                            </td>
                            <td colspan="2" class="player-name">
                                <a href="/{{playerStat.name}}">{{playerStat.name}}</a>
                            </td>
                            <td class="player-kills">
                                {{playerStat.kills}}
                            </td>
                            <td class="player-deaths">
                                {{playerStat.deaths}}
                            </td>
                            <td class="player-kdr">
                                {{playerStat.kdr}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <!-- Kill Feed -->
        <div class="col-md-5">
            <p class="text-head">Kill Feed</p>
            <div class="kill-feed">
                <table class="table">
                    <tr ng-repeat="death in matchData.deathsLoaded">
                        <!-- Player Kill Avatar -->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <a href="/{{death.killerLoaded.name}}"> <img style="width: 32px;" src="https://crafatar.com/avatars/{{death.killerLoaded.uuid}}?size=32&overlay" alt="avatar"> </a>
                        </td>

                        <!-- Wilderness Kill Avatar -->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <img style="width: 32px;" src="https://crafatar.com/avatars/606e2ff0ed7748429d6ce1d3321c7838?size=32&overlay" alt="avatar">
                        </td>

                        <!-- Player Kill Message-->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            <a href="/{{death.killerLoaded.name}}">{{death.killerLoaded.name}}</a> killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <!-- Wilderness Kill Message-->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            Wilderness killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <td class="kill-feed-item-player" style="width: 32px;">
                            <a href="/{{deat.playerLoaded.name}}"><img style="width: 32px;" src="https://crafatar.com/avatars/{{death.playerLoaded.uuid}}?size=32&overlay" alt="avatar"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-7">
          <p class="text-head">Chat Feed</p>
            <div class="chat-feed">
                 <table class="table">
                    <tr ng-repeat="chat in matchData.match.chat">
                        <td class="kill-feed-item-player" style="width: 32px;">
                            <a href="/{{chat.username}}"><img style="width: 32px;" src="https://crafatar.com/avatars/{{chat.uuid}}?size=32&overlay" alt="avatar"></a>
                        </td>
                        <td class="playername" style="width: 32px; padding-top:15px; ">
                            <a href="/{{chat.username}}"><p>{{chat.username}}</p> </a>
                        </td>
                        <td class="kill-feed-message" style="padding-top: 15px;">{{chat.message}}</td>
                        <td class="kill-feed-item-player" style="padding-top:15px;width: 32px;">
                            <p class="text-muted">{{chat.matchTime}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>  