<div class="container">
    <div class="header">
        <div class="avatar">
        <i class="fa fa-area-chart fa-5x" aria-hidden="true"></i>
        </div>
        <div class="personal">
            <h2 style="margin:0;"> KOTH </h2>
            <p style="margin:0;" class="text-muted"> Fracture </p>
            <span>3 Days Ago</span>
        </div>

        <div style="margin-left:80px;" class="stat">
           <h1>18:23 </h1>
           <h3 class="text-muted"> Minutes</h3>
        </div>
        </span>

    </div>

    <hr>
</div>

<div class="container">
    <div class="row" style="min-height: 200px;">
        <div class="col-md-6" ng-repeat="team in matchData.teamsLoaded">
            <h3 style="">{{team.name}} <span class="text-muted">{{team.kills}} / {{team.deaths}}</span>
                <span ng-show="team.won" class="label label-success label-result pull-right">Victory</span>
                <span ng-show="!team.won" class="label label-danger label-result pull-right">Defeat</span></h3>
            <div class="gamestats">
                <table class="table game-lose">
                    <thead>
                        <tr>
                            <th colspan="3">Player</th>
                            <th class="trright">Kills</th>
                            <th class="trright">Death</th>
                            <th class="trright">KDR</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #d8e4ec" class="tableContent">
                        <tr ng-repeat="playerStat in team.members">

                            <td colspan="1" class="player-icon" style="width: 32px;">
                                <img style="width: 32px;" src="https://crafatar.com/renders/head/{{playerStat.uuid}}?size=32&overlay" alt="avatar">
                            </td>
                            <td colspan="2" class="player-name" style="width: 32px; padding-top: 15px;">
                                <a href="/{{playerStat.name}}">{{playerStat.name}}</a>
                            </td>
                            <td class="player-kills">
                                {{playerStat.kills}}
                            </td>
                            <td class="player-deaths">
                                {{playerStat.deaths}}
                            </td>
                            <td class="player-kdr">
                                {{playerStat.kdr}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Kill Feed -->
        <div class="col-md-5">
            <div class="kill-feed">
                <table class="table">
                    <tr ng-repeat="death in matchData.deathsLoaded">
                        <!-- Player Kill Avatar -->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <a href="/profile"> <img style="width: 32px;" src="https://crafatar.com/avatars/{{death.killerLoaded.uuid}}?size=32&overlay" alt="avatar"> </a>
                        </td>

                        <!-- Wilderness Kill Avatar -->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <a href="/profile"> <img style="width: 32px;" src="https://crafatar.com/avatars/606e2ff0ed7748429d6ce1d3321c7838?size=32&overlay" alt="avatar"> </a>
                        </td>

                        <!-- Player Kill Message-->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            <a href="/{{death.killerLoaded.name}}">{{death.killerLoaded.name}}</a> killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <!-- Wilderness Kill Message-->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            Wilderness killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <td class="kill-feed-item-player" style="width: 32px;">
                            <a href="/profile"><img style="width: 32px;" src="https://crafatar.com/avatars/{{death.playerLoaded.uuid}}?size=32&overlay" alt="avatar"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <div class="kill-feed">
                 <table class="table">
                    <tr ng-repeat="chat in matchData.match.chat">
                        <td class="kill-feed-item-player" style="width: 32px;">
                            <img style="width: 32px;" src="https://crafatar.com/avatars/{{chat.uuid}}?size=32&overlay" alt="avatar">
                        </td>
                        <td class="playername" style="width: 32px; padding-top:15px; ">
                            <a href="/{{chat.username}}"><p>{{chat.username}}</p> </a>
                        </td>
                        <td class="kill-feed-message" style="padding-top: 15px;">{{chat.message}}</td>
                        <td class="kill-feed-item-player" style="padding-top:15px;width: 32px;">
                            <p class="text-muted">{{chat.matchTime}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

