<div class="container">
    <div class="header" ng-if="loadingHide">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="tryit avatar" style="width: 40px;" data-src="https://crafatar.com/renders/body/{{player.uuid}}?overlay" src="https://crafatar.com/renders/body/iSprux?overlay" alt="avatar">
                    <span style="font-size: 28px; padding-left: 15px;padding-top:15px;">{{player.name}}</span>
                </div>
                <div class="stat">
                    <h2>{{player.kills}}</h2>
                    <h4 class="text-muted">Kills</h4>
                </div>
                <div class="stat">
                    <h2>{{player.deaths}}</h2>
                    <h4 class="text-muted">Deaths</h4>
                </div>
                <div class="stat">
                    <h2>{{player.kdr}}</h2>
                    <h4 class="text-muted">K/D</h4>
                </div>

                <div class="stat">
                    <h2>{{player.wins}}</h2>
                    <h4 class="text-muted">Wins</h4>
                </div>
                <div class="stat">
                    <h2>{{player.losses}}</h2>
                    <h4 class="text-muted">Losses</h4>
                </div>
                <div class="stat">
                    <h2>{{player.wr}}</h2>
                    <h4 class="text-muted">W/L</h4>
                </div>
            </div>
        </div>

    </div>


    <div ng-if="loading" id="loading" style="margin-left:46%; margin-top: 75px;">
            <md-progress-circular class="spinner" md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div class="container" ng-if="loadingHide">
    <div class="row">
        
        <div class="col-md-5">
            <p> Recent Kills </p>
            <div class="kill-feed">
                <table class="table">
                    <tr ng-repeat="death in deaths">

                        <!-- Player Kill Avatar -->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <a href="/{{death.killerLoaded.name}}"> <img style="width: 32px;" src="https://crafatar.com/avatars/{{death.killerLoaded.uuid}}?size=32&overlay" alt="avatar"> </a>
                        </td>

                        <!-- Wilderness Kill Avatar -->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-item-player" style="width: 32px;">
                            <img style="width: 32px;" src="https://crafatar.com/avatars/606e2ff0ed7748429d6ce1d3321c7838?size=32&overlay" alt="avatar">
                        </td>

                        <!-- Player Kill Message-->
                        <td ng-show="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            <a href="/{{death.killerLoaded.name}}">{{death.killerLoaded.name}}</a> killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <!-- Wilderness Kill Message-->
                        <td ng-hide="{{death.killerLoaded}}" class="kill-feed-message text-center" style="padding-top: 15px;">
                            Wilderness killed <a href="/{{death.playerLoaded.name}}">{{death.playerLoaded.name}}</a>
                        </td>

                        <td class="kill-feed-item-player" style="width: 32px;">
                            <a href="/{{death.playerLoaded.name}}"><img style="width: 32px;" src="https://crafatar.com/avatars/{{death.playerLoaded.uuid}}?size=32&overlay" alt="avatar"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <p> Match History </p>
            <div class="recent-matches">
                <table class="table">

                    <tr ng-repeat="match in recentMatches">
                        <td class="kill-feed-item-player" style="width: 32px;">
                            <md-button class="md-warn" style="margin: 0px; padding:0px;" href="/match/{{match.match._id}}"> 

                                <md-tooltip id="copy-tooltip-msg"  md-visible="" md-direction="left"  >Match Details</md-tooltip> 
                                View
                            </md-button>
                        </td>
                        <td class="kill-feed-message " style="padding-top:15px; width:180px">
                            <span style="font-weight:bolder">{{match.loadedMap.gametype}}</span> -
                            {{match.loadedMap.name}}
                        </td>
                        <td ng-show="match.matchSize == 1" class="kill-feed-message text-center" style="padding-top: 15px;">
                            {{match.matchSize}} Player
                        </td>
                        <td ng-show="match.matchSize != 1" class="kill-feed-message text-center" style="padding-top: 15px;">
                            {{match.matchSize}} Players
                        </td>
                        <td class="kill-feed-message text-right" style="padding-top: 15px;">
                            {{match.timeElapsed}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
